
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(17,17,17,255);
    height: 4.5em;
    width: 100%;
    flex-flow: column nowrap;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.top{
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(17,17,17,255);
    height: 4.5em;
    width: 100%;
    flex-flow: row nowrap;
}

header img {
    width: 3em;
}

.titulo {
    margin-top: 1em;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: azure;
    font-size: 2.5em;
}

.navegacion {
    display: flex;
}

.info{
    height: 2em;
    margin-top: 0.5em;
}

.accionesNav, .menuDesplegable, .libuscando {
    margin-top: 1.3em;
}

.menuDesplegable {
    display: none;
}

.libuscando {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navegacion a, button{
    text-decoration: none;
    color: azure;
    margin-right: 1.3em;
    background: transparent;
    border: none;
}

.navegacion.info li{
    margin: 0 5em;
}

.libuscando.buscando{
    display: flex;
    flex-flow: row nowrap;
    background-color: rgb(226, 224, 222);
    padding: 0.5em;
    border-radius: 1em;
    margin: 0 1.3em;
}

.barraDeBusqueda{
    display: none;
    border: none;
    outline: none; 
    background: transparent; 
    color: inherit; 
    width: 100%;
    padding: 5px; 
}

.buscando {
    display: block;
    color: black;
    margin: 0 0.2em;
}

.navegacion li ,.navegacion button{
    list-style: none;
}

.navegacion li a:hover, button:hover {
    color: rgb(233, 194, 143);
    cursor: pointer;
}
/*
.carousel {
    position: relative;
    width: 75%;
    max-width: 120em;
    max-height: 53em;
    margin: 5em auto 1em auto;
    overflow: hidden;
}

.carousel-container{
    display: inline-block; 
    min-width: 300%;
    box-sizing: border-box;
}

.carousel-items {
    width: 100%;
    flex-direction: row;
    flex-flow: row nowrap;
}

.carousel-container a {
    box-sizing: border-box;
}

.carousel-container a img{
    width: calc( 100% / 3 - 0.2em);
    box-sizing: border-box;
}

.controls {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.prev {
    height: 100%;
    position: absolute;
    background: transparent;
    border: none;
    color: rgba(0, 0, 0, 0.507);
    font-size: 2em;
    cursor: pointer;
    left: 0.1em;
}
.next{
    height: 100%;
    position: absolute;
    border: none;
    color: rgba(0, 0, 0, 0.507);
    font-size: 2em;
    cursor: pointer;
    right: -1.1em;
}

.separar {
    background-color: rgba(14, 14, 14, 0.534);
    color: aliceblue;
    text-align: center;
    font-size: 1.3em;
    margin: 1em 0;
    min-width: 100%;
  }

.secciones {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.secciones a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.secciones h2 {
    display: block;
    font-size: 4em;
    position: relative; 
    z-index: 1
}

.difuminado:hover {
    display: block;
    opacity: 1;
    background-color: rgba(13, 14, 14, 0.473); 
}

.difuminado {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(13, 14, 14, 0.11); 
}

.seccion1 {
    background-image: url(../Img/electro.jpg);
    background-size: cover; 
    /* Esto hace que la imagen de fondo cubra todo el contenedor
    */
   /* background-position: center; 
    margin: 0.635em 0.3125em;
    backdrop-filter: blur(5px); 
}

.seccion2 {
    background-image: url(../Img/mueble.jpg);
    background-size: cover; /* Esto hace que la imagen de fondo cubra todo el contenedor */
  /*  background-position: center; 
    margin: 0.635em 0.3125em;
    backdrop-filter: blur(5px); 
}

.seccion3 {
    background-image: url(../Img/ropa.jpg);
    background-size: cover; /* Esto hace que la imagen de fondo cubra todo el contenedor */
  /*  background-position: center; 
    margin: 0.635em 0.3125em;
    backdrop-filter: blur(5px); 
}

.seccion4 {
    background-image: url(../Img/herramientas-manuales-basicas-02-2022-07.jpg);
    background-size: cover; /* Esto hace que la imagen de fondo cubra todo el contenedor */
    /*background-position: center; 
    margin: 0.635em 0.3125em;
    backdrop-filter: blur(5px); 
}

.seccion1, .seccion2, .seccion3, .seccion4 {
    width: 43.75em;
    height: 25em;
    position: relative; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.muestra {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 75%;
    margin: 0 auto;
}

.muestra img {
    width: calc( 100% / 3 - 1em);
    margin: 0.3em 0.5em;
}
*/
footer {
    background-color: black;
    height: auto;
    margin-top: 1.5em;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer ul{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.direccion{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.redes {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 0.5em;
}

footer ul li{
    text-align: center;
    margin-top: 1em;
    margin-bottom: 0.5em;
}
/*
@media only screen and (max-width: 1500px) {
    .secciones {
        flex-direction: column;
    }
} 

@media only screen and (max-width: 1180px) {
    .muestra img {
        width: calc( 100% / 2 - 1em);
        margin: 0.3em 0.5em;
    }

    .prev, .next{
        font-size: 1.9em;
    }
    .carousel {
        width: 95%;
    }
} 

@media only screen and (max-width: 1100px) {

    header{
        padding: 1em;
        height: auto;
        flex-wrap: wrap;
        order: 1;
    }

    header img{
        width: 4em;
    }

    .titulo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .titulo h1{
        display: none;
    }

    .menuDesplegable {
        display: block;
    }

    header .linksNav {
        width: 100%;
        display: none;
        order: 3;
    }

    header .linksNav.activo {
        display: flex;
    }

    header ul {
        width: 100%;
    }

    header .info {
        flex-direction: column;
        height: auto;
    }

    .info a {
        text-align: center;
        display: block;
        width: 100%;
        padding: 0.5em;
    }
    .info a:hover {
        background-color: rgb(85, 83, 83);
    }

    .accionesNav ,
    .menuDesplegable {
        order: 2;
    }

    .carousel {
        margin: 7em auto 1em auto;
    }

    .prev, .next{
        font-size: 1.6em;
    }

    .libuscando.buscando{
        width: 70%;
        order: 3;
    }
    .barraDeBusqueda.buscando{
        width: 90%;
    }

    header nav{
        flex-flow: row nowrap;
    }
} 

@media only screen and (max-width: 869px) {
    .muestra img {
        width: calc( 100% - 1em);
        margin: 0.3em 0.5em;
    }

    .prev, .next{
        font-size: 1.8em;
    }
    .seccion1, .seccion2, .seccion3, .seccion4 {
        width: 33.75em;
        height: 18em;
    }
} 

@media only screen and (max-width: 600px) {
    .seccion1, .seccion2, .seccion3, .seccion4 {
        width: 26.5em;
        height: 16em;
    }
    .secciones h2 {
        font-size: 3em;
    }
} 

@media only screen and (max-width: 435px) {
    .seccion1, .seccion2, .seccion3, .seccion4 {
        width: 21.5em;
        height: 12em;
    }
    .secciones h2 {
        font-size: 2.3em;
    }

} 